<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/simplex/bootstrap.min.css"
          rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
          rel="stylesheet" type="text/css">
    <title>User Details</title>
</head>
<body>
<div align="center">
    <h1>User Details</h1>
    <div align="center" style="width: 500px; background: white">
        <table border="2">
            <tr>
                <td>ID</td>
                <td>NAME</td>
                <td>LASTNAME</td>
                <td>EMAIL</td>
                <td>PASSWORD</td>
                <td>ROLES</td>
            </tr>
            <td th:utext="${user.getId()}"></td>
            <td th:utext="${user.getUsername()}"></td>
            <td th:utext="${user.getLastname()}"></td>
            <td th:utext="${user.getEmail()}"></td>
            <td th:utext="${user.getPassword()}"></td>
            <td>
                <p th:each="role:${user.getRoles()}"
                   th:utext="${role.name}"></p>
            </td>
        </table>
        <br>
        <h1><input type="button" value="Home" onclick="window.location.href='/'"/></h1>
    </div>
</body>
</html>